body {
  background-color: lightgrey;
}

input[type="button"] {
  width: 90px;
  height: 30px;
}

.redbutton {
  background-color: red;
}
.orangebutton {
  background-color: orange;
}
.yellowbutton {
  background-color: yellow;
}
.greenbutton {
  background-color: green;
}
.yellowbutton {
  background-color: yellow;
}
.bluebutton {
  background-color: blue;
  color: white;
}
.indigobutton {
  background-color: indigo;
  color: white;
}
.purplebutton {
  background-color: purple;
  color: white;
}
.pinkbutton {
  background-color: pink;
}
.greybutton {
  background-color: grey;
}
.blackbutton {
  background-color: black;
  color: white;
}
.whitebutton {
  background-color: whitesmoke;
}
.hood {
  position: absolute;
  left: 43%;
  top: 30%;
  border-radius: 50%;
  background-color: red;
  width: 200px;
  height: 200px;
}
.ears {
  position: absolute;
  left: 20%;
  top: 20%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.face {
  position: absolute;
  left: 44%;
  top: 32%;
  border-radius: 50%;
  width: 12%;
  height: 20%;
  background-color: bisque;
}
.smileleftside {
  position: absolute;
  left: 48%;
  top: 45%;
  border-bottom-left-radius: 70%;
  background-color: black;
  width: 30px;
  height: 30px;
}
.smilerightside {
  position: absolute;
  left: 50%;
  top: 45%;
  border-bottom-right-radius: 70%;
  background-color: black;
  width: 30px;
  height: 30px;
}
.righteye {
  position: absolute;
  left: 50%;
  top: 50%;
  width: w;
}
