body {
  background-color: lightgrey;
}

input[type="button"] {
  width: 90px;
}

.redbutton {
  background-color: red;
}
.orangebutton {
  background-color: orange;
}
.yellowbutton {
  background-color: yellow;
}
.greenbutton {
  background-color: green;
}
.yellowbutton {
  background-color: yellow;
}
.bluebutton {
  background-color: blue;
}
.indigobutton {
  background-color: indigo;
  color: white;
}
.purplebutton {
  background-color: purple;
  color: white;
}
.pinkbutton {
  background-color: pink;
}
.greybutton {
  background-color: grey;
}
.blackbutton {
  background-color: black;
  color: white;
}
.whitebutton {
  background-color: whitesmoke;
}
.hood {
  position: absolute;
  left: 43%;
  top: 30%;
  border-radius: 50%;
  background-color: red;
  width: 197px;
  height: 197px;
}
.ears {
  position: absolute;
  left: 20%;
  top: 20%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.face {
  position: absolute;
  left: 46%;
  top: 34%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff6e9;
}

.smile {
  position: absolute;
  left: 50%;
  top: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
